/* html {
        height: 100%;
    } */

body {
    /* background: rgb(179, 238, 173);
        background: linear-gradient(199deg, rgba(255, 255, 255, 1) 0%, rgba(180, 245, 242, 1) 50%, rgba(238, 173, 181, 1) 100%); */
    background: rgb(252, 252, 252);
    background: linear-gradient(0deg, rgba(252, 252, 252, 1) 0%, rgba(255, 252, 252, 1) 25%, rgba(255, 250, 250, 1) 50%, rgba(255, 248, 248, 1) 75%, rgba(187, 245, 216, 1) 100%);
    background-repeat: no-repeat;
}

#card {
    background: transparent;
}

/* #back {
        position: fixed;
    } */
#profile_img {
    border-radius: 50%;
    background-color: transparent;
    border: solid rgb(0, 0, 0) 2px;
    width: 200px;
}

#usm-img {
    border-radius: 50%;
    background-color: transparent;
    border: solid rgb(0, 0, 0) 1px;
}